{% comment %}
========================
Variables in Use
---
Copy and paste and adjust the tabbing or write these variables for this block in your front mmatter. I'm going to be honest. That loop is a pain in the dick. Please don't mess with it.
========================


- block: bar-chart-vertical
  template: bar-chart-vertical
  background_color: //Choose background color
  text_color: //Choose text color
  has_title: //Insert 'true' or 'false' with single quote
  title: //Insert your header
  has_subtitle: //Insert 'true' or 'false' with single quote
  subtitle: //Insert your header
  footnotes: //Insert Small Text
  key_loop_   limiter: '1' //Must be at least '1'
  chart_data: //Chose your YAML file name. Just the file name no `.yml`

{% endcomment %}
<!--
    Begin:
    Bar Chart verticals
    {{ section.title }} Charts
-->
{% include _snippets/color_assignments.html %}
<section class="px-2 py-5 bgc--{{ section.background_color }} text-{{ section.text_color }}">
     <!-- Section Title -->
   {% if section.has_title == 'true' %}
   <div class="container-fluid">
       <div class="row">
           <div class="col-lg-9 mb-3">
               <p class="lead">
                   <strong>
                        {{ section.title }}
                   </strong>
               </p>
           </div>
           <!-- Subtitle -->
           {% if section.has_subtitle == 'true' %}
           <div class="col-lg-7 mb-3">
               <h4>
                   {{ section.subtitle }}
               </h4>
           </div>
           {% endif %}
           <!-- /End Subtitle -->
       </div>
   </div>
    {% endif %}
    <!-- /End Section Title -->
   <div class="container-fluid">
    <div class="row">
        <!-- Charts Loop -->
        <div class="col-lg-9">
            <div class="row">
            {% for charts in site.data.[section.chart_data] %}
                <!-- Chart {{forloop.index }} -->
                {% capture the_cycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                <div class="{% if forloop.length > 1 %}col-lg-4 col-md-6 {% else %}col-lg-8{% endif %} py-2">
                    <div class="row px-3 no-gutters">
                        {% for item in charts.data %}
                        <div class="col d-flex flex-column justify-content-end" style="height: 175px;">
                            <div class="bar bgc--{{ item.bar_color }}" style="width: 100%; {% if forloop.length > 2 %}max-width: 35px;{% else %}max-width: 100px;{% endif %} margin-left: auto; margin-right: auto; height: {{ item.percentage }}%;">

                            </div>
                            <div class="metric text-center border-top pt-3">
                                <p>
                                    {{ item.percentage }}{{ charts.metric }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p>
                                {{ charts.chart }}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /End Chart {{ forloop.index }} -->
            {% endfor %}
            </div>
        </div>
        <!-- /End Charts Loop -->
        <!-- Key Start -->
        <div class="col-lg-2 py-5 ml-auto">
            {% capture key_limiter %}{{ section.key_loop_limiter }}{% endcapture %}
            {% for charts in site.data.[section.chart_data] | limit: key_limiter %}
                {% for item in charts.data %}
                    <div class="row pb-2 align-items-center">
                        <div class="col-auto indicator bgc--{{ item.bar_color }} mr-1" style="display: block; border-radius: 50rem; height: 25px; width: 25px;">

                        </div>
                        <div class="col">
                            <p class="small mb-0">
                                {{ item.demographic }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- /End Key -->
    </div>
   </div>

   <div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-4">
            <p class="small">
                {{ section.footnotes }}
            </p>
        </div>
    </div>
   </div>


</section>
<!--
    End:
    Bar Chart verticals
    {{ section.title }} Charts
-->