<section class="report-jumbotron position-relative py-5 bgc--{{ section.background_color }}">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-lg-9">
                <p class="d-inline-flex align-items-center py-3 px-3 bgc--light rounded-pill text-uppercase">
                    <span class="indicator rounded-pill mr-3 bgc--{{ section.pill_indicator }}" style="height: 25px; width: 25px;">

                    </span>

                    <strong>
                        {{ section.pill_text }}
                    </strong>

                </p>
            </div>
            <div class="col-lg-9 py-3">
                <h1 class="display-4">
                    {{ page.title }}
                </h1>
            </div>
        </div>
    </div>
</section>