---
layout: default
---
<!-- Don't copy this header. It's strictly for documentation purposes -->
<style>
    section.charts-page-header {
        min-height: 45vh;
        height: 100%;
        padding-top: 6rem;
        padding-bottom: 6rem;
        display: flex;
        align-items: center;
    }

    .charts-page-header .charts-page-header-label {
        display: inline-flex;
        background-color: #f2f2f2;
        border-radius: 50rem;
        padding: 1rem;
        color: black;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        align-items: center;
    }

    .charts-page-header .charts-page-header-label span {
        height: 25px;
        width: 25px;
        background-color: #ff9966;
        margin-right: 1rem;
        border-radius: 50rem;
    }

</style>


<section class="bg-secondary charts-page-header">
    <div class="container">
        <div class="row">
            <div class="col-12 py-4">
                <a href="/index.html">
                    Back
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="charts-page-header-label">
                    <span>

                    </span>
                    Charts
                </p>
                <h1>
                    {{ page.title }}
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- /End Header -->

{% for section in page.sections %}
{% include /_blocks/{{ section.block }}.html %}
{% endfor %}